<?xml version="1.0"?>
<!--
/**
 * KOTA FACTORY Limited.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * https://github.com/theiconnz/redirectpages/wiki
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to info@kota-factory.com so we can send you a copy immediately.
 *
 * @package     Theiconnz_Redirectpages
 * @copyright   Copyright (c) 2022 KOTA FACTORY Limited. (https://kota-factory.com)
 * @license     https://github.com/theiconnz/redirectpages/wiki End-user License Agreement
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pageredirect>
            <general>
                <enable>0</enable>
                <enablemaintenance>0</enablemaintenance>
                <enablecommingsoon>0</enablecommingsoon>
                <redirect_for_maintenance>0</redirect_for_maintenance>
                <maintenance_allowed_ip><![CDATA[]]></maintenance_allowed_ip>
                <redirect_for_commingsoon>0</redirect_for_commingsoon>
                <commingsoon_allowed_ip><![CDATA[]]></commingsoon_allowed_ip>
            </general>
        </pageredirect>
    </default>
</config>
