<?xml version="1.0"?>
<!--
/**
 * KOTA FACTORY Limited.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * https://github.com/theiconnz/redirectpages/wiki
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to info@kota-factory.com so we can send you a copy immediately.
 *
 * @package     Theiconnz_Redirectpages
 * @copyright   Copyright (c) 2022 KOTA FACTORY Limited. (https://kota-factory.com)
 * @license     https://github.com/theiconnz/redirectpages/wiki End-user License Agreement
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Theiconnz_Redirectpages" setup_version="1.0.5">
        <sequence>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
