<?xml version="1.0"?>
<!--
/**
 * KOTA FACTORY Limited.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * https://github.com/theiconnz/redirectpages/wiki
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to info@kota-factory.com so we can send you a copy immediately.
 *
 * @package     Theiconnz_Redirectpages
 * @copyright   Copyright (c) 2022 KOTA FACTORY Limited. (https://kota-factory.com)
 * @license     https://github.com/theiconnz/redirectpages/wiki End-user License Agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="theiconnz" translate="label" sortOrder="400" class="pageredirect-main">
            <label>KOTA FACTORY</label>
        </tab>


        <section id="pageredirect" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label><![CDATA[Page Redirect]]></label>
            <tab>theiconnz</tab>
            <resource>Theiconnz_Redirectpages::config</resource>

            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>

                <field id="enable" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enablemaintenance" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Maintenance</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enablecommingsoon" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Comming Soon</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="redirect_for_maintenance" translate="label comment" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maintenance Mode Page</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                    <comment>User will be redirect to this page when Maintenance mode is enable</comment>
                </field>
                <field id="maintenance_allowed_ip" translate="label comment" type="textarea" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow access to these IPs</label>
                    <comment>Only allow access to thes IPs if Maintenance page is enable. Seperated by comma</comment>
                </field>
                <field id="redirect_for_commingsoon" translate="label comment" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Comming soon Mode Page</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                    <comment>User will be redirect to this page when Comming soon mode is enable</comment>
                </field>
                <field id="commingsoon_allowed_ip" translate="label comment" type="textarea" sortOrder="450" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow access to these IPs when Comming Soon Redirect</label>
                    <comment>Only allow access to thes IPs if Comming soon is enable. Seperated by comma</comment>
                </field>
            </group>
        </section>
    </system>
</config>
